<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.khuntheeranai.simpleintermecbarcodelib">

    <application>
        <activity android:name=".activity.SymbologyActivity">
            <intent-filter>
                <action android:name="android.intent.action.simpleintermecbarcodelib.SymbologyActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>